.avatar {
    width: 100px;
    height: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}

.name {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.selectedPage {
    font-weight: bold;
}

.page {
    position: fixed;
    display: inline-block;
    border: 1px solid #ddd;
}

.users {
    padding-top: 40px;
}